<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shopping cart</title>
</head>
<body>
    <h1>Shopping cart</h1>
    <h3>Node js course</h3>
    <p>Price: $130.00</p>
    <p>Quantity: 1</p>
    <form action="payment/checkout" method="post">
        <input type="submit" value="Proceed to Checkout">
    </form>
</body>
</html>